@use "@/styles/typography" as *;

// CSS-переменные для анимации логотипа
:root {
    // mobile (базовые значения)
    --logo-top-start: 13.68vh;
    --logo-top-end: 10.26vh;
    --logo-width-start: 86.26vw;
    --logo-width-end: 78.44vw;
}

// имитация появления дороги (сдвиг вверх черного градиентного фона)
@keyframes fading_keys {
    from { 
        top: 0%;
    }
    to { 
        top: -200%;
    }
}

// #region - блок анимаций логотипа
    // анимации появления / исчезновения всего контейнера с логотипом игры
    .game_logo_whole_menu_showing-enter-active {
        transition: all ease-in-out 0.5s;
    }
    .game_logo_whole_menu_showing-enter-from {
        opacity: 0;
    }
    .game_logo_whole_menu_showing-leave-active {
        transition: all ease-in-out 0.5s;
    }
    .game_logo_whole_menu_showing-leave-to {
        opacity: 0;
    }

    // анимация появления текста логотипа игры из темноты при старте игры
    .game_logo_showing-enter-active {
        transition: all ease-in-out 2s;
        transition-delay: 0.2s;
    }
    .game_logo_showing-enter-from {
        opacity: 0;
    }
    .game_logo_showing-leave-active {
        transition: all ease-in-out 1s;
    }
    .game_logo_showing-leave-to {
        opacity: 0;
    }

    // анимация поднятия текста лого вверх при переходе в главное меню
    // mobile
    @media (max-width: $breakpoint-mobile) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
        :root {
            --logo-top-start: 13.68vh;
            --logo-top-end: 10.26vh;
            --logo-width-start: 86.26vw;
            --logo-width-end: 78.44vw;
        }
    }
    // laptop
    @media (min-width: $breakpoint-laptop) and (orientation: landscape) {
        :root {
            --logo-top-start: 16.717vh;
            --logo-top-end: 6.079vh;
            --logo-width-start: 81.25vw;
            --logo-width-end: 65.556vw;
        }
    }
    // desktop
    @media (min-width: $breakpoint-desktop) and (orientation: landscape) {
        :root {
            --logo-top-start: 18.47vh;
            --logo-top-end: 9.783vh;
            --logo-width-start: 81.5vw;
            --logo-width-end: 65.625vw;
        }
    }
    @keyframes logoMovingAnim {
        0% {
            top: var(--logo-top-start);
            width: var(--logo-width-start);
        }
        100% {
            top: var(--logo-top-end);
            width: var(--logo-width-end);
        }
    }
    .logo_mooving {
        animation: logoMovingAnim 0.5s cubic-bezier(0.42, 0, 1, 1) forwards;
    }

    // анимации возникновения неоновых подсветкок логотипа
    .neon_glow {
        opacity: 0;
        animation: neonFlicker 3s ease-out forwards;
    }
    .neon_left {
        animation-delay: 0.4s;
    }
    .neon_right {
        animation-delay: 1.0s;
    }
    @keyframes neonFlicker {
        0% {
            opacity: 0;
        }
        2.22% {
            opacity: 0.8; /* вспышка */
        }
        4.44% {
            opacity: 0; /* затухание */
        }
        6.67% {
            opacity: 0.8; /* вспышка */
        }
        8.89% {
            opacity: 0; /* затухание */
        }
        35% {
            opacity: 0; /* пауза */
        }
        100% {
            opacity: 1; /* финальная постоянная яркость */
        }
    }
// #endregion

// #region - блок анимаций кнопок Главного меню
    .buttons_group_showing-enter-active {
        animation: slideIn 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) backwards;
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(-25px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // Для исчезновения
    .buttons_group_showing-leave-active {
        animation: slideOut 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    }

    @keyframes slideOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-25px);
        }
    }
// #endregion

// #region - блок анимаций кнопок бизнес-панели (в левой части экрана)
    .business_tab_showing-enter-active {
        animation: businessSlideIn 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) backwards;
    }

    @keyframes businessSlideIn {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    // Для исчезновения
    .business_tab_showing-leave-active {
        animation: businessSlideOut 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    }

    @keyframes businessSlideOut {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-50px);
        }
    }
// #endregion

// #region - блок анимаций кнопок раздела "Настройки"
    .header_footer_block_anim-enter-active {
        animation: slideIn 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) backwards;
    }
    .header_footer_block_anim-leave-active {
        animation: slideOut 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    }
// #endregion

// #region - блок анимаций HUD
    .notification_anim-enter-active,
    .notification_anim-leave-active {
        transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    .notification_anim-enter-from {
        opacity: 0;
        transform: translateY(-20px);
    }
    .notification_anim-leave-to {
        opacity: 0;
        transform: translateY(-20px);
    }
    .notification_anim-move {
        transition: transform 0.5s ease;
    }
// #endregion