@use "sass:map";
@use "@/styles/typography" as *;
@use "@/styles/colors" as *;

$z-layers: (
    "canvas": 0,
    "gradient": 1,
    "background": 2,
    "logo": 3,
    "game_logo__root": 5,
    "ui_component": 10,
    "rights_and_logo": 100,
    "modal": 1000,
);

@function z($layer) {
    @return map.get($z-layers, $layer);
}

.container {
    position: absolute;
    box-sizing: border-box;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sub_container {
    // position: relative;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

// #region - header
    .header_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        width: min(100rem, 90vw);
    }
    .header_text {
        margin-bottom: 1rem;
        @include text-menu-title;
        color: $color-blue;

        // font-family: 'vla_shu';
        // font-size: clamp(1.8rem, 3.2vmin, 2.7rem);
        // color: #72B3EE;
        // line-height: 1;
    }
    .header_image {
        width: min(34.625rem, 90vw);
    }
    .image {
        width: 100%;
        filter: invert(86%) sepia(40%) saturate(5593%) hue-rotate(183deg) brightness(104%) contrast(101%);
    }
// #endregion

.buttons_group {
    position: absolute;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
}

.menu_btn {
    background: none;
    border: none;
    filter: drop-shadow(0 0 0.9375rem rgba(255, 246, 25, 0.4));
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        color: $color-blue;
        filter: drop-shadow(0 0 1.25rem rgb(140, 186, 229));
        transition: all 0.1s ease-in-out;
    }
}