.settings_sub_container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.9375rem;
}

.addit_font {
    font-family: 'jost-light';
    text-transform: uppercase;
    font-size: clamp(1rem, 2vmin, 1.375rem);
    // font-size: min(4rem, 24px);
    letter-spacing: 0.05em;
    color: #FDFFE3;
}

.settings_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.toggle_btn {
    background: none;
    border: none;
    cursor: pointer;
    // ---    
    font-family: 'jost-light';
    text-transform: uppercase;
    font-size: clamp(1rem, 2vmin, 1.375rem);
    letter-spacing: 0.05em;
    color: #72B3EE;

    &:hover {
        background-color: rgba(114, 179, 238, 0.3);
    }

    &.toggle_btn--active {
        color: #FDFFE3;
        
        &:hover {
            background-color: rgba(253, 255, 227, 0.3);
            color: white;
        }
    }
}   
