@use "@/styles/typography" as *;
@use "@/styles/colors" as *;

.settings_sub_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75.214vh;    // позже расчитать (для мини-мобил)
    gap: 5.128vh;

    @media (min-width: $breakpoint-mobile) and (orientation: landscape) and (hover: none) and (pointer: coarse) { 
        width: 75.214vh;
        gap: 5.128vh;
    }
    // позже расчитать:
    // @media (min-width: $breakpoint-tablet) and (orientation: landscape) and (hover: none) and (pointer: coarse) { 
        // width: 25vw;
        // gap: 5.128vw;
    // }
    @media (min-width: $breakpoint-laptop) and (orientation: landscape) { 
        width: 25.4vw;
        gap: 1vw;
    }
    @media (min-width: $breakpoint-desktop) and (orientation: landscape) {
        width: 20.833vw;
        gap: 1.2vw;
    }
}

.addit_font {
    @include text-info-size-m;
    text-transform: uppercase;
    color: $color-yellow-super-light;
}

.settings_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle_btn {
    background: none;
    border: none;
    cursor: pointer;
       
    @include text-info-size-m;
    text-transform: uppercase;
    color: $color-blue;

    &:hover {
        background-color: rgba(114, 179, 238, 0.3);
    }

    &.toggle_btn--active {
        color: #FDFFE3;
        
        &:hover {
            background-color: rgba(253, 255, 227, 0.3);
            color: $color-white;
        }
    }
}   
